<html>
  <head>
    <meta charset='UTF-8' />
    <title>Not Your Mom's Tech Blog</title>
    {{!-- <link rel='stylesheet' href='/css/jass.css' /> --}}
    {{! <link rel="stylesheet" href="/css/style.css"> }}
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />

  </head>

  <body>
    <div class='flex-column justify-space-around'>
      <header
        class='display-flex justify-space-between align-center p-2 bg-primary text-light'
      >
        <h1>
          Not Your Mom's Tech Blog
        </h1>
        <nav>
          <a href='/' class='text-light'>Home</a>
          <a href='/dashboard' class='text-light'>Dashboard</a>
          {{#if logged_in}}
            |
            <a class='no-button text-light bg-primary' id='logout'>Logout</a>
          {{else}}
            <a href='/login' class='text-light'>Login</a>
          {{/if}}
          {{! todo show logout if logged in, hide login }}
        </nav>
      </header>
      <main class='container container-fluid mt-5'>
        {{{body}}}
      </main>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>