<html>
  <head>
    <meta charset='UTF-8' />
    <title>Not Your Mom's Tech Blog</title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
    <link
      href='https://fonts.googleapis.com/icon?family=Material+Icons'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/style.css' />

  </head>

  <body>
    <div class='flex-column justify-space-around'>
      <header
        class='display-flex justify-space-between align-center p-2 blue-grey darken-1'
      >
        <nav class='blue-grey darken-1'>
          <div class='nav-wrapper'>
            <a href='/' class='brand-logo'>Not Your Mom's Tech Blog
            </a>
            <a href='#' data-target='mobile-demo' class='sidenav-trigger'><i
                class='material-icons'
              >menu</i></a>
            <ul id='nav-mobile' class='right hide-on-med-and-down'>
              <li><a href='/'>Home</a></li>
              <li><a href='/dashboard'>Dashboard</a></li>
              {{! <li><a href='collapsible.html'>JavaScript</a></li> }}
              {{#if logged_in}}
                <li><a class='logout' id='logout'>Logout</a></li>
              {{else}}
                <li><a href='/login' class=''>Login</a></li>
              {{/if}}
            </ul>
          </div>
        </nav>

        <ul class='sidenav blue-grey darken-1' id='mobile-demo'>
          <li><a href='/' class='white-text'>Home</a></li>
          <li><a href='/dashboard' class='white-text'>Dashboard</a></li>
          {{! <li><a href='collapsible.html'>JavaScript</a></li> }}
          {{#if logged_in}}
            <li><a class='white-text logout' id='mini-logout'>Logout</a></li>
          {{else}}
            <li><a href='/login' class='white-text text-darken-1'>Login</a></li>
          {{/if}}
        </ul>
      </header>
      <main class='container container-fluid mt-5'>
        {{{body}}}
      </main>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
    ></script>
    <script src='/js/navbar.js'></script>
  </body>

</html>