<div class='new-post'>
  <form id='createPost' class='flex-column'>
    <label for='newtitle'>Post Title:</label>
    <input type='text' name='title' id='newTitle' />
    <label for='post-content'>Post Content:</label>
    <textarea class='postContent' id='post-content'></textarea>
    <div class='form-group'>
      <button
        type='submit'
        class='btn btn-primary'
        id='create-post'
      >Create</button>
    </div>
  </form>
</div>

<script src='./js/post.js'>