<div class='dashboard'>
  <h2>Dashboard</h2>
<a
href='/create'
        class='btn btn-primary'
        id='create-post'
      >Create New Post</a>
  <div class='posts card'>
    {{! render posts if user has any posts }}
    {{#if posts}}
    {{>post_content}}
    {{>comment_content}}
    {{/if}}
  </div>
</div>

<script src='./js/post.js'></script>