<div class='dashboard'>
  <h2>Posts</h2>
  <div class='posts'>
    {{! render posts if user has any posts }}
    {{#if posts}}
    {{>hp_post_content}}
    {{else}}
    <h3>No Posts Yet!</h3>
    {{/if}}
  </div>
</div>