<div class='new-post card px-1'>
  <form id='update-form' class='flex-column'>
    <label for='newTitle'>Post Title:</label>
    <input type='text' name='title' id='newTitle' value='{{title}}' />
    <label for='post-content'>Post Content:</label>
    <input class='postContent' id='post-content' value='{{content}}'></input>
    <div class='form-group'>
      <button
        type='submit'
        class='btn btn-primary'
        id='update-post'
        data-id='{{id}}'
      >Update</button>
    </div>
  </form>
</div>

<script src='/js/update.js'>